.dashboard__container{
    background: url("../../assets/images/Site_Background.jpg") no-repeat top;
    background-size: contain;
    min-height:100vh;
    position: relative;
}

@media screen and (max-width:600px){
    .dashboard__container{
        margin-top:60px;
    }
}

@media screen and (min-width:601px) and (max-width:768px){
    .dashboard__container{
        padding-top:35px;
    }
}
