.cs__pp1.wayside img, .cs__prototypecontainer img{
    height:auto !important;
    width: 100% !important;
}

.appraisal__role.wayside{
    background: #b7dcf4;
}

.cs__pp1.wayside{
    margin-top:1.5rem;
}

.cs__wireframecontainer.wayside img{
    height:auto;
}