.contact-form{
    margin: 90px auto 20px auto;
    width:100%;
    /* background: url("../../assets/images/Site_Background.jpg") no-repeat bottom; */
}


.contact__container{
    display: flex;
    width:100%;
    margin:0 auto;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);
    border-radius: 30px;
    margin-top:40px;
    max-width: 1260px;
}

.contact__msg-details, .contact__contact-details{
    flex:1;
    padding:20px 40px;
}

.contact-wrapper > h2{
    margin-top: 0px;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 600;
    color:#002f70;
    font-size: 1.75rem;
}

.contact__container h3{
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(to left , #80838a, #80838a ) no-repeat bottom left / 60px 3px;
    padding-bottom: 1rem;
    margin-bottom: 30px;
    font-weight: 600;
    color:#80838a;
}

.contact__form-control{
  padding: 10px 10px;
  width: 100%;
  border-color: 1px solid #f8f8f8;
  border: 1px solid #ccc;
}

.contact__name, .contact__email, .contact__subject, .contact__message{
    padding: 10px 0px 20px 0px;
}

.contact__form-control:hover{
   border:1px solid #aaa;
}

.contact__contact-details > p{
    line-height: 1.5;
    padding-bottom: 20px;
}

.contact__metadata p{
    padding:8px 0px;
}

.contact__metadata .fas{
    padding-right: 10px;
    color:#3080ec;
    width: 30px;
    justify-content: center;
    text-align: center;
}

@media (max-width:968px){
    .contact__container{
        flex-direction: column;
    }
    .contact-wrapper{
        padding:20px;
    }

    .contact-form{
        margin:0px auto 20px auto;
    }

    .contact__container {
        margin-top:30px;
    }
}

@media (max-width:1300px){
    .contact-wrapper{
        padding:20px;
    }
}





  .contact__send-message {
    background: #3080ec;
    padding: 10px 22px;
    color: white;
    border-radius: 5rem;
    font-size: 15px;
    border: none;
    cursor: pointer;
    width: 150px;
  }

  .contact__send-message:hover{
    color:white;
    background: #3381ce;
  }

  .contact__submit{
    display: flex;
    justify-content: center;
  }

  .contact__validation-error{
    font-size: 0.75rem;
    color:red;
  }