*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Nunito', sans-serif;
}

html{
  font-size: calc(14.25px + .1vw); /* Responsive base font size */
  color:#2d3958;
}

#root{
	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
}

.app__wrapper{
  flex-grow: 1;
  z-index:2;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3080ec #f8f8f8;
}

/* Works on Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #f8f8f8;
}

body::-webkit-scrollbar-thumb {
  background-color: #3080ec;
  border-radius: 20px;
}

.fa-chevron-circle-up{
  color:#3080ec;
  cursor: pointer;
  font-size: 2.5rem;
}

.fa-chevron-circle-up.chevron-dark{
  color:#fff;
}