*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Nunito', sans-serif;
}

html{
  font-size: calc(14.25px + .1vw); /* Responsive base font size */
  color:#2d3958;
}

#root{
	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
}

.app__wrapper{
  flex-grow: 1;
  z-index:2;
}