.casestudy__container {
  max-width: 1300px;
  margin: 100px auto 0px auto;
  padding: 20px;
}

.casestudy__container h2 {
  margin-top: 0px;
  margin-bottom: -60px;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 600;
  color:#002f70;
  font-size: 1.75rem;
}

.grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
  margin-top:100px;
}


.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-left {
  -webkit-box-ordinal-group: -1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.col-text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  max-height: 550px;
}

.col-image {
    background-size: cover;
    background-position: center center;
    flex: 3;
    display: flex;
    align-items: center;
}

.col-image-left{
  justify-content: flex-start;
}

.col-image-right{
  justify-content: flex-end;
}

.col-image img{
    border-radius: 30px;
    width:85%;
    max-height: 550px;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);
}

.Aligner-item {
  width: 100%;
}

.Aligner-item p{
    line-height: 1.5;
    margin:5px 0px 30px 0px;
    color:rgba(0, 0, 0, 0.54)
}

.Aligner-item h3{
  font-size: 1.5rem;
  color:#232b32;
}

.Aligner-item a{
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 0.85rem;
    color: #232b32;
}

.cs__btn-blue{
  background: #b7dcf4;
}

.cs__btn-blue:hover{
  background: #c8e4f7;
}

.cs__btn-orange{
  background: #fee4bd;
}

.cs__btn-orange:hover{
  background: #ffefd7;
}

.cs__btn-green{
  background: #b9dccb;
}

.cs__btn-green:hover{
  background: #c7e4d6;
}

.cs__btn-purple{
  background: #e6dbeb;
}

.cs__btn-purple:hover{
  background: #ece6ef;
}

@media (max-width: 768px) {
  .grid-flex {
    height: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-top:10px;
  }

  .casestudy__container h2{
    margin-bottom: 10px;
    margin-top:0px;
  }

  .casestudy__container{
    margin:0 auto;
  }

  .col {
    order: vertical;
  }
  .col-left {
    -webkit-box-ordinal-group: 0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }

  .col-image{
      margin-top:20px;
      flex:1;
  }
  .col-text{
      flex:1;
      justify-content: center;
      text-align: center;
  }

  .col-image:not(:first-of-type){
    padding: 30px 0px;
    width: 100%;
  }

  .col-text{
    padding: 40px 0px;
    width: 100%;
  }

  .col-image img{
    width: 100%;
  }
}
